<% provide(:title, "Top") %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="center jumbotron">
<h1>商品登録システム</h1>
<p>このアプリケーションでは、登録された商品の情報を閲覧・登録・変更することができます。</p>
<%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>