
header{
    background-color: #000;
}
#logo{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}


.label-signup {
    margin-top: 5px;
}

.btn-signup {
    margin-top: 10px;
}

/*error_messages*/
