.label-signup {
    margin-top: 5px;
}

.btn-signup {
    margin-top: 10px;
}

.container{
    text-align: center;
    background-color: red;
}

.item-table {
    vertical-align: middle;
    text-align: center;
}