<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "Item registration", root_path, id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
               <li><%= link_to "Top", root_path %></li>
               <li><%= link_to "Items", items_path %></li>
        </nav>
    </div>
</header>